In [1]:
import pandas as pd
import numpy as np
import requests  # 导入requests
from bs4 import BeautifulSoup  # 导入bs4中的BeautifulSoup
df_train = pd.read_csv('../bus_data/stationmap/station_geo_position_v2.csv')
#df_real = pd.read_csv('../bus_data/stationmap/location_corrected.csv',index_col=0)
df_train

       O_LINENO  O_UP  STATION  O_LONGITUDE  O_LATITUDE
0             1     0        1      117.198     39.1274
1             1     0        2      117.199     39.1258
2             1     0        3      117.195     39.1224
3             1     0        4      117.192     39.1207
4             1     0        5      117.187     39.1229
5             1     0        6      117.178     39.1252
6             1     0        7      117.179     39.1288
7             1     0        8      117.183     39.1293
8             1     0        9      117.186     39.1327
9             1     0       10      117.186     39.1347
10            1     0       11      117.181     39.1359
11            1     0       12      117.180     39.1394
12            1     0       13      117.180     39.1422
13            1     0       14      117.182     39.1431
14            1     0       15      117.189     39.1517
15            1     0       16      117.192     39.1555
16            1     0       17      117.194     39.1574
17            1     0       18      117.197     39.1593
18            1     0       19      117.200     39.1628
19            1     0       20      117.211     39.1650
20            1     0       21      117.214     39.1650
21            1     0       22      117.218     39.1653
22            1     0       23      117.220     39.1670
23            1     0       24      117.216     39.1699
24            1     0       25      117.218     39.1729
25            1     0       26      117.221     39.1743
26            1     0       27      117.225     39.1766
27            1     0       28      117.229     39.1774
28            1     0       29      117.231     39.1750
29            1     0       30      117.233     39.1729
...         ...   ...      ...          ...         ...
22382     61102     1       21      117.102     39.2688
22383     61102     1       22      117.104     39.2629
22384     61102     1       23      117.105     39.2587
22385     61102     1       24      117.108     39.2544
22386     61102     1       25      117.117     39.2340
22387     61102     1       26      117.119     39.2286
22388     61102     1       27      117.121     39.2240
22389     61102     1       28      117.128     39.2176
22390     61102     1       29      117.131     39.2140
22391     61102     1       30      117.134     39.2103
22392     61102     1       31      117.143     39.1995
22393     61102     1       32      117.150     39.1934
22394     61102     1       33      117.157     39.1881
22395     61102     1       34      117.160     39.1858
22396     61102     1       35      117.169     39.1818
22397     61102     1       36      117.174     39.1751
22398     61102     1       37      117.176     39.1714
22399     61102     1       38      117.178     39.1692
22400     61102     1       39      117.180     39.1651
22401     61102     1       40      117.184     39.1601
22402     61102     1       41      117.186     39.1576
22403     61102     1       42      117.188     39.1561
22404     61102     1       43      117.189     39.1523
22405     61102     1       44      117.183     39.1431
22406     61102     1       45      117.180     39.1400
22407     61102     1       46      117.179     39.1335
22408     61102     1       47      117.180     39.1276
22409     61102     1       48      117.184     39.1267
22410     61102     1       49      117.194     39.1225
22411     61102     1       50      117.197     39.1212

[22412 rows x 5 columns]

In [2]:
df = df_train.copy()
df['longitude_amap'] = np.NaN
df['latitude_amap'] = np.NaN
df

,O_LINENO,O_UP,STATION,O_LONGITUDE,O_LATITUDE,longitude_amap,latitude_amap
0,1,0,1,117.198,39.1274,NaN,NaN
1,1,0,2,117.199,39.1258,NaN,NaN
2,1,0,3,117.195,39.1224,NaN,NaN
3,1,0,4,117.192,39.1207,NaN,NaN
4,1,0,5,117.187,39.1229,NaN,NaN
5,1,0,6,117.178,39.1252,NaN,NaN
6,1,0,7,117.179,39.1288,NaN,NaN
7,1,0,8,117.183,39.1293,NaN,NaN
8,1,0,9,117.186,39.1327,NaN,NaN
9,1,0,10,117.186,39.1347,NaN,NaN
10,1,0,11,117.181,39.1359,NaN,NaN
11,1,0,12,117.180,39.1394,NaN,NaN
12,1,0,13,117.180,39.1422,NaN,NaN
13,1,0,14,117.182,39.1431,NaN,NaN
14,1,0,15,117.189,39.1517,NaN,NaN
15,1,0,16,117.192,39.1555,NaN,NaN
16,1,0,17,117.194,39.1574,NaN,NaN
17,1,0,18,117.197,39.1593,NaN,NaN
18,1,0,19,117.200,39.1628,NaN,NaN
19,1,0,20,117.211,39.1650,NaN,NaN
20,1,0,21,117.214,39.1650,NaN,NaN
21,1,0,22,117.218,39.1653,NaN,NaN
22,1,0,23,117.220,39.1670,NaN,NaN
23,1,0,24,117.216,39.1699,NaN,NaN
24,1,0,25,117.218,39.1729,NaN,NaN
25,1,0,26,117.221,39.1743,NaN,NaN
26,1,0,27,117.225,39.1766,NaN,NaN
27,1,0,28,117.229,39.1774,NaN,NaN
28,1,0,29,117.231,39.1750,NaN,NaN
29,1,0,30,117.233,39.1729,NaN,NaN
...,...,...,...,...,...,...,...
22382,61102,1,21,117.102,39.2688,NaN,NaN
22383,61102,1,22,117.104,39.2629,NaN,NaN
22384,61102,1,23,117.105,39.2587,NaN,NaN
22385,61102,1,24,117.108,39.2544,NaN,NaN
22386,61102,1,25,117.117,39.2340,NaN,NaN
22387,61102,1,26,117.119,39.2286,NaN,NaN
22388,61102,1,27,117.121,39.2240,NaN,NaN
22389,61102,1,28,117.128,39.2176,NaN,NaN
22390,61102,1,29,117.131,39.2140,NaN,NaN
22391,61102,1,30,117.134,39.2103,NaN,NaN
22392,61102,1,31,117.143,39.1995,NaN,NaN
22393,61102,1,32,117.150,39.1934,NaN,NaN
22394,61102,1,33,117.157,39.1881,NaN,NaN
22395,61102,1,34,117.160,39.1858,NaN,NaN
22396,61102,1,35,117.169,39.1818,NaN,NaN
22397,61102,1,36,117.174,39.1751,NaN,NaN
22398,61102,1,37,117.176,39.1714,NaN,NaN
22399,61102,1,38,117.178,39.1692,NaN,NaN
22400,61102,1,39,117.180,39.1651,NaN,NaN
22401,61102,1,40,117.184,39.1601,NaN,NaN
22402,61102,1,41,117.186,39.1576,NaN,NaN
22403,61102,1,42,117.188,39.1561,NaN,NaN
22404,61102,1,43,117.189,39.1523,NaN,NaN
22405,61102,1,44,117.183,39.1431,NaN,NaN
22406,61102,1,45,117.180,39.1400,NaN,NaN
22407,61102,1,46,117.179,39.1335,NaN,NaN
22408,61102,1,47,117.180,39.1276,NaN,NaN
22409,61102,1,48,117.184,39.1267,NaN,NaN
22410,61102,1,49,117.194,39.1225,NaN,NaN
22411,61102,1,50,117.197,39.1212,NaN,NaN

In [3]:
headers = {
    'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/49.0.2623.221 Safari/537.36 SE 2.X MetaSr 1.0'}
for i in range(len(df)):
#for i in range(5):
    gps_x = df.loc[i,'O_LONGITUDE']
    gps_y = df.loc[i,'O_LATITUDE']
    url = 'https://restapi.amap.com/v3/assistant/coordinate/convert?locations=' + str(gps_x) + ',' + str(gps_y) +\
        '&coordsys=gps&output=xml&key=faf27f6e255729f070ae62bc0f5c6a74'  # 开始的URL地址
    start_html = requests.get(url, headers=headers)
    Soup = BeautifulSoup(start_html.text, 'lxml')
    all_a = Soup.find('locations')
    
    #if all_a == None:
    #    continue
    amap = all_a.get_text()
    amap = amap.split(',')
    df.loc[i,'longitude_amap'] = amap[0]
    df.loc[i,'latitude_amap'] = amap[1]
    if i%100 == 0:
        print('complete {}'.format(i))

complete 0
complete 100
complete 200
complete 300
complete 400
complete 500
complete 600
complete 700
complete 800
complete 900
complete 1000
complete 1100
complete 1200
complete 1300
complete 1400
complete 1500
complete 1600
complete 1700
complete 1800
complete 1900
complete 2000
complete 2100
complete 2200
complete 2300
complete 2400
complete 2500
complete 2600
complete 2700
complete 2800
complete 2900
complete 3000
complete 3100
complete 3200
complete 3300
complete 3400
complete 3500
complete 3600
complete 3700
complete 3800
complete 3900
complete 4000
complete 4100
complete 4200
complete 4300
complete 4400
complete 4500
complete 4600
complete 4700
complete 4800
complete 4900
complete 5000
complete 5100
complete 5200
complete 5300
complete 5400
complete 5500
complete 5600
complete 5700
complete 5800
complete 5900
complete 6000
complete 6100
complete 6200
complete 6300
complete 6400
complete 6500
complete 6600
complete 6700
complete 6800
complete 6900
complete 7000
complete 7100
complete 7200
complete 7300
complete 7400
complete 7500
complete 7600
complete 7700
complete 7800
complete 7900
complete 8000
complete 8100
complete 8200
complete 8300
complete 8400
complete 8500
complete 8600
complete 8700
complete 8800
complete 8900
complete 9000
complete 9100
complete 9200
complete 9300
complete 9400
complete 9500
complete 9600
complete 9700
complete 9800
complete 9900
complete 10000
complete 10100
complete 10200
complete 10300
complete 10400
complete 10500
complete 10600
complete 10700
complete 10800
complete 10900
complete 11000
complete 11100
complete 11200
complete 11300
complete 11400
complete 11500
complete 11600
complete 11700
complete 11800
complete 11900
complete 12000
complete 12100
complete 12200
complete 12300
complete 12400
complete 12500
complete 12600
complete 12700
complete 12800
complete 12900
complete 13000
complete 13100
complete 13200
complete 13300
complete 13400
complete 13500
complete 13600
complete 13700
complete 13800
complete 13900
complete 14000
complete 14100
complete 14200
complete 14300
complete 14400
complete 14500
complete 14600
complete 14700
complete 14800
complete 14900
complete 15000
complete 15100
complete 15200
complete 15300
complete 15400
complete 15500
complete 15600
complete 15700
complete 15800
complete 15900
complete 16000
complete 16100
complete 16200
complete 16300
complete 16400
complete 16500
complete 16600
complete 16700
complete 16800
complete 16900
complete 17000
complete 17100
complete 17200
complete 17300
complete 17400
complete 17500
complete 17600
complete 17700
complete 17800
complete 17900
complete 18000
complete 18100
complete 18200
complete 18300
complete 18400
complete 18500
complete 18600
complete 18700
complete 18800
complete 18900
complete 19000
complete 19100
complete 19200
complete 19300
complete 19400
complete 19500
complete 19600
complete 19700
complete 19800
complete 19900
complete 20000
complete 20100
complete 20200
complete 20300
complete 20400
complete 20500
complete 20600
complete 20700
complete 20800
complete 20900
complete 21000
complete 21100
complete 21200
complete 21300
complete 21400
complete 21500
complete 21600
complete 21700
complete 21800
complete 21900
complete 22000
complete 22100
complete 22200
complete 22300
complete 22400

In [4]:
df

,O_LINENO,O_UP,STATION,O_LONGITUDE,O_LATITUDE,longitude_amap,latitude_amap
0,1,0,1,117.198,39.1274,117.204307454428,39.128436686198
1,1,0,2,117.199,39.1258,117.205305718316,39.126834309896
2,1,0,3,117.195,39.1224,117.201311848959,39.12343858507
3,1,0,4,117.192,39.1207,117.198316514757,39.121742621528
4,1,0,5,117.187,39.1229,117.19332546658,39.123952636719
5,1,0,6,117.178,39.1252,117.184342447917,39.12627061632
6,1,0,7,117.179,39.1288,117.185340983073,39.129870876737
7,1,0,8,117.183,39.1293,117.189333767362,39.130363769532
8,1,0,9,117.186,39.1327,117.192328559028,39.133760579428
9,1,0,10,117.186,39.1347,117.192328830296,39.13576171875
10,1,0,11,117.181,39.1359,117.187338324653,39.136971299914
11,1,0,12,117.180,39.1394,117.186340603299,39.140475531685
12,1,0,13,117.180,39.1422,117.186340874566,39.14327718099
13,1,0,14,117.182,39.1431,117.188337131077,39.144173990886
14,1,0,15,117.189,39.1517,117.195325520834,39.152766384549
15,1,0,16,117.192,39.1555,117.198320855035,39.15656358507
16,1,0,17,117.194,39.1574,117.20031765408,39.158461371528
17,1,0,18,117.197,39.1593,117.203312988282,39.160357530382
18,1,0,19,117.200,39.1628,117.206309136285,39.163854709202
19,1,0,20,117.211,39.1650,117.217294108073,39.16604031033
20,1,0,21,117.214,39.1650,117.220290527344,39.16603624132
21,1,0,22,117.218,39.1653,117.224286566841,39.166331651476
22,1,0,23,117.220,39.1670,117.22628499349,39.168030598959
23,1,0,24,117.216,39.1699,117.222288953994,39.170936686198
24,1,0,25,117.218,39.1729,117.224287380643,39.17393608941
25,1,0,26,117.221,39.1743,117.227284884983,39.175333930122
26,1,0,27,117.225,39.1766,117.231282280816,39.177631564671
27,1,0,28,117.229,39.1774,117.235279947917,39.178428548178
28,1,0,29,117.231,39.1750,117.237278645834,39.17602593316
29,1,0,30,117.233,39.1729,117.239277886285,39.173923068577
...,...,...,...,...,...,...,...
22382,61102,1,21,117.102,39.2688,117.108448350695,39.270053710938
22383,61102,1,22,117.104,39.2629,117.110448404948,39.264150119358
22384,61102,1,23,117.105,39.2587,117.111448296441,39.259947374132
22385,61102,1,24,117.108,39.2544,117.114447970921,39.255644259983
22386,61102,1,25,117.117,39.2340,117.123443467882,39.235227593316
22387,61102,1,26,117.119,39.2286,117.125441894532,39.229823133681
22388,61102,1,27,117.121,39.2240,117.127440321181,39.225218641494
22389,61102,1,28,117.128,39.2176,117.134434136285,39.218807779948
22390,61102,1,29,117.131,39.2140,117.137430555556,39.215202094185
22391,61102,1,30,117.134,39.2103,117.14042670356,39.211496039497
22392,61102,1,31,117.143,39.1995,117.149413791233,39.200677083334
22393,61102,1,32,117.150,39.1934,117.15640218099,39.19456217448
22394,61102,1,33,117.157,39.1881,117.163389485678,39.189246961806
22395,61102,1,34,117.160,39.1858,117.166384006077,39.186940375435
22396,61102,1,35,117.169,39.1818,117.175366482205,39.182921278212
22397,61102,1,36,117.174,39.1751,117.180356174046,39.17620795356
22398,61102,1,37,117.176,39.1714,117.182352159289,39.172501898872
22399,61102,1,38,117.178,39.1692,117.184348144532,39.170296766494
22400,61102,1,39,117.180,39.1651,117.186343858507,39.166190863716
22401,61102,1,40,117.184,39.1601,117.190335557726,39.161180555556
22402,61102,1,41,117.186,39.1576,117.192331814237,39.158675401476
22403,61102,1,42,117.188,39.1561,117.194328070747,39.157170952691
22404,61102,1,43,117.189,39.1523,117.195325792101,39.153366699219
22405,61102,1,44,117.183,39.1431,117.189335394966,39.144172092014
22406,61102,1,45,117.180,39.1400,117.186340603299,39.141075846355
22407,61102,1,46,117.179,39.1335,117.185341525608,39.134573838976
22408,61102,1,47,117.180,39.1276,117.186338975695,39.128668348525
22409,61102,1,48,117.184,39.1267,117.190331488716,39.127760416667
22410,61102,1,49,117.194,39.1225,117.200313313803,39.12354031033
22411,61102,1,50,117.197,39.1212,117.203308105469,39.122234429254

In [14]:
df[df.O_LATITUDE==0]

,O_LINENO,O_UP,STATION,O_LONGITUDE,O_LATITUDE,longitude_amap,latitude_amap
1037,47,1,21,0.0,0.0,0.0,0.0
1046,47,1,30,0.0,0.0,0.0,0.0
1047,47,1,31,0.0,0.0,0.0,0.0
1048,47,1,32,0.0,0.0,0.0,0.0
1050,47,1,34,0.0,0.0,0.0,0.0
1051,47,1,35,0.0,0.0,0.0,0.0
1052,47,1,36,0.0,0.0,0.0,0.0
1053,47,1,37,0.0,0.0,0.0,0.0
1054,47,1,38,0.0,0.0,0.0,0.0
1058,47,1,42,0.0,0.0,0.0,0.0
1059,47,1,43,0.0,0.0,0.0,0.0
1060,47,1,44,0.0,0.0,0.0,0.0
1061,47,1,45,0.0,0.0,0.0,0.0
1062,47,1,46,0.0,0.0,0.0,0.0
1063,47,1,47,0.0,0.0,0.0,0.0
1064,47,1,48,0.0,0.0,0.0,0.0
1065,47,1,49,0.0,0.0,0.0,0.0
1066,47,1,50,0.0,0.0,0.0,0.0
1067,47,1,51,0.0,0.0,0.0,0.0
1124,48,1,8,0.0,0.0,0.0,0.0
1125,48,1,9,0.0,0.0,0.0,0.0
1133,48,1,18,0.0,0.0,0.0,0.0
1134,48,1,19,0.0,0.0,0.0,0.0
1135,48,1,20,0.0,0.0,0.0,0.0
1136,48,1,21,0.0,0.0,0.0,0.0
1142,48,1,27,0.0,0.0,0.0,0.0
1144,48,1,30,0.0,0.0,0.0,0.0
1145,48,1,31,0.0,0.0,0.0,0.0
6199,562,1,7,0.0,0.0,0.0,0.0
6200,562,1,8,0.0,0.0,0.0,0.0
6458,569,0,29,0.0,0.0,0.0,0.0
6459,569,0,30,0.0,0.0,0.0,0.0
6460,569,0,31,0.0,0.0,0.0,0.0
6520,570,1,5,0.0,0.0,0.0,0.0
14482,738,1,10,0.0,0.0,0.0,0.0
20351,962,1,32,0.0,0.0,0.0,0.0
20463,1011,0,4,0.0,0.0,0.0,0.0
20465,1011,0,24,0.0,0.0,0.0,0.0
22066,55021,0,12,0.0,0.0,0.0,0.0

In [5]:
df.to_csv('../bus_data/stationmap/train_amap.csv',index=False)

In [20]:
df2 = df.copy()
df2 = df2[df2.O_LATITUDE != 0]
df3 = pd.DataFrame()
df3 = df3.append(df2,ignore_index=True)
df3.describe()

           O_LINENO          O_UP       STATION   O_LONGITUDE    O_LATITUDE
count  22373.000000  22373.000000  22373.000000  22373.000000  22373.000000
mean    2501.599920      0.494882     17.198453    117.263925     39.166850
std     9412.769413      0.499985     12.484567      0.182353      0.192237
min        1.000000      0.000000      1.000000    116.900000     38.633100
25%      530.000000      0.000000      7.000000    117.161000     39.078700
50%      670.000000      0.000000     15.000000    117.213000     39.128700
75%      838.000000      1.000000     25.000000    117.306000     39.182000
max    61102.000000      1.000000     94.000000    118.162000     40.077700

In [19]:
df3.to_csv('../bus_data/stationmap/train_amap_correct.csv',index=False)