In [2]:
import pandas as pd
import numpy as np

In [3]:
ar = np.arange(20).reshape(4,5)
df = pd.DataFrame(data=ar,columns=list('abcde'))

In [4]:
df

    a   b   c   d   e
0   0   1   2   3   4
1   5   6   7   8   9
2  10  11  12  13  14
3  15  16  17  18  19

In [7]:
df.iloc[0,0]=1

In [8]:
df

    a   b   c   d   e
0   1   1   2   3   4
1   5   6   7   8   9
2  10  11  12  13  14
3  15  16  17  18  19

In [27]:
ll = [[1,2,3] for i in range(4)]
print(len(ll))

4

In [28]:
sr =pd.Series(ll)

In [29]:
sr

0    [1, 2, 3]
1    [1, 2, 3]
2    [1, 2, 3]
3    [1, 2, 3]
dtype: object

In [30]:
df['f'] = sr

In [31]:
df

    a   b   c   d   e          f
0   1   1   2   3   4  [1, 2, 3]
1   5   6   7   8   9  [1, 2, 3]
2  10  11  12  13  14  [1, 2, 3]
3  15  16  17  18  19  [1, 2, 3]

In [32]:
df.dtypes

a    object
b     int64
c     int64
d     int64
e     int64
f    object
dtype: object

In [33]:
df = df.astype({'a':'object'})

In [34]:
df.dtypes

a    object
b     int64
c     int64
d     int64
e     int64
f    object
dtype: object

In [35]:
df.iloc[0,0] = ll[0]

ValueError: Must have equal len keys and value when setting with an iterable

In [36]:
df['a'] = ll

In [37]:
df

           a   b   c   d   e          f
0  [1, 2, 3]   1   2   3   4  [1, 2, 3]
1  [1, 2, 3]   6   7   8   9  [1, 2, 3]
2  [1, 2, 3]  11  12  13  14  [1, 2, 3]
3  [1, 2, 3]  16  17  18  19  [1, 2, 3]

In [38]:
df.iloc[0,0]=[2,3,4]

ValueError: Must have equal len keys and value when setting with an iterable

In [40]:
ll_temp = ll.copy()
ll_temp[0]=[1,2,3,4]

In [41]:
ll_temp

[[1, 2, 3, 4], [1, 2, 3], [1, 2, 3], [1, 2, 3]]

In [42]:
srr = pd.Series(ll_temp)

In [43]:
df

           a   b   c   d   e          f
0  [1, 2, 3]   1   2   3   4  [1, 2, 3]
1  [1, 2, 3]   6   7   8   9  [1, 2, 3]
2  [1, 2, 3]  11  12  13  14  [1, 2, 3]
3  [1, 2, 3]  16  17  18  19  [1, 2, 3]

In [44]:
df['a'] = srr

In [45]:
df

              a   b   c   d   e          f
0  [1, 2, 3, 4]   1   2   3   4  [1, 2, 3]
1     [1, 2, 3]   6   7   8   9  [1, 2, 3]
2     [1, 2, 3]  11  12  13  14  [1, 2, 3]
3     [1, 2, 3]  16  17  18  19  [1, 2, 3]